# Server
PORT=5000
NODE_ENV=development
JWT_SECRET=ecoguard-ai-super-secret-key-2024

# IBM Watsonx
WATSONX_PROJECT_ID=29f2b75e-ec3e-463c-b6de-aefa520a2d81
WATSONX_API_KEY=_DYH5uur3l01T5cJnDFocOIDJArrajmrBTpa-yVp1jHR
WATSONX_URL=https://api.au-syd.watson-orchestrate.cloud.ibm.com/instances/012a2164-ac43-4d87-a90b-39ed1e476339
WATSONX_MODEL_ID=ibm/granite-13b-instruct-v2

# Database
DB_PATH=./data

# Frontend
FRONTEND_URL=http://localhost:3000

# Simulation
ENABLE_SENSOR_SIMULATION=true
SIMULATION_INTERVAL_MS=5000
